<!DOCTYPE html>
<html>

<head>
    <title>Data Visualization</title>
    <%- include headInclude.ejs %>
        <!--dynamic table-->
        <link href="/js/advanced-datatable/css/demo_page.css" rel="stylesheet" />
        <link href="/js/advanced-datatable/css/demo_table.css" rel="stylesheet" />
        <link rel="stylesheet" href="/js/data-tables/DT_bootstrap.css" />
</head>

<body class="sticky-header">
    <section>
        <!-- 左导航栏 -->
        <%- include header.ejs %>
            <div class="main-content">
                <!-- 上导航栏 -->
                <%- include nav.ejs %>
                    <section class="panel">
                        <header class="panel-heading">
                            Visualization Package-Items&nbsp;&nbsp;&nbsp;&nbsp;
                        </header>
                        <div class="panel-body">
                            <div id="visualizePackage" data-source="/dataVisualize/json/all" data-type="admin" data-gdid="<%=gdid %>">
                            </div>
                        </div>
                    </section>
                    <%- include footer.ejs %>
            </div>
    </section>
    <%- include footerInclude.ejs %>
        <!--dynamic table-->
        <script type="text/javascript" language="javascript" src="/js/advanced-datatable/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="/js/data-tables/DT_bootstrap.js"></script>
        <script type="text/javascript" src="/js/geomodel/modelser.js"></script>

        <script type="text/javascript" src="/js/output/bundle.js"></script>
</body>

</html>