<!DOCTYPE html>
<html>
<head>
    <title>上传模型部署包至门户</title>
    <link rel="stylesheet" href="/css/jquery.stepy.css">
    <link href="/js/treeview/css/bootstrap-treeview.css" rel="stylesheet" />
    <%- include headInclude.ejs %>
</head>
<body class="sticky-header">
<section>
    <!-- 左导航栏 -->
    <%- include header.ejs %>
    <div class="main-content">
        <!-- 上导航栏 -->
        <%- include nav.ejs %>
        <section class="panel">
            <header class="panel-heading" >
                上传模型部署包至门户
            </header>
            <div class="panel-body">
                <div id="modelSerUploader" data-msid='<%=msid %>' ></div>
            </div>
        </section>
        <%- include footer.ejs %>
    </div>
</section>
<%- include footerInclude.ejs %>
<!--dynamic table-->
<script type="text/javascript" language="javascript" src="/js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/js/data-tables/DT_bootstrap.js"></script>
<script type="text/javascript" src="/js/treeview/js/bootstrap-treeview.js"></script>


<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.stepy.js"></script>

<!--file upload-->
<script type="text/javascript" src="/js/bootstrap-fileupload.min.js"></script>
<!--bootstrap input mask-->
<script type="text/javascript" src="/js/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>

<script src="/js/output/bundle.js" ></script>
</body>
</html>
