<!DOCTYPE html>
<html>
<head>
    <title><%=global.LanguageConfig.ModelServiceTable.RemoteTitle %></title>
    <%- include headInclude.ejs %>
    <!--dynamic table-->
    <link href="/js/advanced-datatable/css/demo_page.css" rel="stylesheet" />
    <link href="/js/advanced-datatable/css/demo_table.css" rel="stylesheet" />
    <link rel="stylesheet" href="/js/data-tables/DT_bootstrap.css" />
</head>
<body class="sticky-header">
<section>
    <!-- 左导航栏 -->
    <%- include header.ejs %>
    <div class="main-content">
        <!-- 上导航栏 -->
        <%- include nav.ejs %>
        <section class="panel">
            <header class="panel-heading">
                Remote Services - Items
            </header>
            <div class="panel-body">
                <div id="rmtModelSerTable" data-source="/modelser/rmt/json/all" data-type="rmt" ></div>
            </div>
        </section>
        <%- include footer.ejs %>
    </div>
</section>

<%- include footerInclude.ejs %>
<script type="text/javascript" src="/js/geomodel/modelser.js" ></script>

<!--dynamic table-->
<script type="text/javascript" language="javascript" src="/js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/js/data-tables/DT_bootstrap.js"></script>
<script type="text/javascript" src="/js/output/bundle.js" ></script>

</body>
</html>