<!DOCTYPE html>
<html>
<head>
    <title><%=global.LanguageConfig.Heading.Status %></title>
    <link rel="stylesheet" href="/css/drawChart.css">
    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/js/chart-js/highcharts.js"></script>
    <script type="text/javascript" src="/js/chart-js/highcharts-more.js"></script>
    <script type="text/javascript" src="/js/chart-js/solid-gauge.js"></script>
    <script type="text/javascript" src="/js/chart-js/exporting.js"></script>
    <script type="text/javascript" src="/js/geomodel/drawChart.js" ></script>
    <%- include headInclude.ejs %>

    <style>
        .main-content,
        #chartContainer{
            position: absolute;
            background: #FFF !important;
            top:0;
            bottom:0;
            left:0;
            right:0;
        }
        .highcharts-container{
            background: #FFF;
        }
        .highcharts-background{
            background: #FFF;
            fill:#FFF;
        }
    </style>
</head>
<body class="sticky-header">
<section>
    <!-- 左导航栏 -->
    <%- include header.ejs %>
    <div class="main-content">
        <!-- 上导航栏 -->
        <%- include nav.ejs %>

        <div id="chartContainer" style="min-height: 600px;background: #EFF0F4;position: relative;">
            <br>
            <p id="data" style="margin-left: 40px;font-family: 'Microsoft YaHei';font-size: 16px;white-space: pre-wrap"></p> <br>
            <div id="chart_line1" style="margin-top: 40px;width: 700px; height: 400px; float: left"></div>
            <div id="chart_line2" style="width: 400px; height: 400px; margin-top: 40px; position: absolute;left: 700px;"></div>
            <!--<div id="chart_line3" style="min-width: 700px; height: 250px; max-width: 800px; margin: 0 auto; float: left"></div>-->
        </div>

        <%- include footer.ejs %>
    </div>
</section>
<%- include footerInclude.ejs %>
</body>
</html>