<!DOCTYPE html>
<html>
    <head>
        <title>User Info</title>
        <%- include headInclude.ejs %>
    </head>
    <body class="sticky-header">
        <section>
        <!-- 左导航栏 -->
        <%- include header.ejs %>
        <div class="main-content">
            <!-- 上导航栏 -->
            <%- include nav.ejs %>
            <div id="userInfo" ></div>
            <%- include footer.ejs %>
        </div>
    </section>
        <%- include footerInclude.ejs %>
        <script type="text/javascript" src="/js/output/bundle.js" ></script>
    </body>
</html>